body,
html {
  height: 100%;
  margin: 0;
}
body h1,
body h3,
html h1,
html h3 {
  margin: 0;
}

body {
  background: linear-gradient(to bottom, #1e5799 0%, #7db9e8 59%);
}
#search-div {
  opacity: 0;
  position: fixed;
  z-index: 50;
  top: 55px;
  width: 100%;
  height: 30px;
  background: rgb(1, 22, 39);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(253, 255, 252);
}
@media (min-width: 950px) {
  #search-div {
    justify-content: flex-end;
    padding-right: 20px;
    top: 75px;
    height: 50px;
  }
}
#search-div .search-box {
  background: rgb(253, 255, 252);
  border-radius: 3px;
  border: none;
}

#mobile-search {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}

#desktop-nav {
  display: none;
}
@media (min-width: 950px) {
  #desktop-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to right, #e6e6e6 10%, rgb(253, 255, 252) 70%);
    width: 100%;
    height: 75px;
  }
  #desktop-nav h1 a {
    color: black;
    text-decoration: none;
    width: 30%;
    font-size: 40px;
    text-shadow: 1px 1px 1px #fcabb6;
    transition: 0.4s;
  }
  #desktop-nav h1 a:hover {
    color: rgb(247, 23, 53);
  }
}

#menu-icon {
  height: 100%;
  padding: 5px 10px 5px 5px;
  margin-top: auto;
}
#menu-icon i {
  font-size: 35px;
}

#mobile-menu {
  opacity: 0;
  pointer-events: none;
  width: 100%;
  position: fixed;
  top: 55px;
  left: 0;
  z-index: 99;
  transition: 0.4s;
  transition: 0.6s opacity;
  background: rgb(1, 22, 39);
  color: rgb(253, 255, 252);
  text-align: center;
}
#mobile-menu ul {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
#mobile-menu ul li a {
  color: rgb(253, 255, 252);
  text-decoration: none;
  font-size: 2rem;
  height: 100%;
  width: 100%;
}

#mobile-nav {
  background: linear-gradient(to right, #e6e6e6 5%, rgb(253, 255, 252) 70%);
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#mobile-nav h1 {
  text-shadow: 2px 2px 2px rgb(253, 255, 252);
}
@media (min-width: 950px) {
  #mobile-nav {
    display: none;
  }
}

#mobile-nav h1, #desktop-nav h1 {
  font-family: "Merienda One", cursive;
  color: rgb(1, 22, 39);
}

nav {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgb(1, 22, 39);
}

#nav-center {
  text-align: center;
}
@media (min-width: 950px) {
  #nav-center {
    width: 20%;
  }
}
#nav-center h2 a {
  text-decoration: none;
  color: rgb(1, 22, 39);
  transition: 0.4s;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
#nav-center h2 a:hover {
  color: rgb(247, 23, 53);
}

#nav-right ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
#nav-right ul a, #nav-right ul i {
  padding: 10px 15px;
  color: rgb(1, 22, 39);
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
}
#nav-right ul a:hover, #nav-right ul i:hover {
  color: rgb(247, 23, 53);
}
#nav-right ul div {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 20px;
}

.page-selected {
  border-left: 2px solid rgb(247, 23, 53);
  border-right: 2px solid rgb(247, 23, 53);
  padding: 0 4px;
}

#banner {
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: fixed;
}
@media (min-width: 950px) {
  #banner {
    display: none;
  }
}

#logo-div {
  z-index: 1;
  width: 100%;
  text-align: center;
}
#logo-div img {
  margin-top: 65px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(1, 22, 39);
}
@media (min-width: 950px) {
  #logo-div {
    height: 400px;
  }
  #logo-div img {
    width: 50%;
    margin-top: 150px;
  }
}

#top-space {
  width: 100%;
  height: 55px;
}
@media (min-width: 950px) {
  #top-space {
    height: 75px;
  }
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-heading {
  background: rgb(253, 255, 252);
  padding: 10px;
  border-radius: 5px;
  text-shadow: 2px 2px 2px #e6e6e6;
  box-shadow: 2px 2px 6px #4d4d4d;
  color: rgb(255, 159, 28);
}

#article-title {
  width: 45%;
  text-align: center;
  border-left: 2px solid rgb(247, 23, 53);
  border-right: 2px solid rgb(247, 23, 53);
  margin-top: 20px;
  transition: 0.4s;
}
#article-title h2 {
  font-family: "Roboto", sans-serif;
  color: rgb(1, 22, 39);
  text-shadow: 2px 2px 1px rgb(253, 255, 252);
}
@media (min-width: 950px) {
  #article-title {
    width: 25%;
  }
  #article-title h2 {
    font-size: 35px;
  }
}
#article-title:hover {
  border-left: 15px solid rgb(247, 23, 53);
  border-right: 15px solid rgb(247, 23, 53);
  width: 50%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
@media (min-width: 950px) {
  main {
    width: 85%;
    max-width: 1100px;
  }
}
@media (min-width: 1300px) {
  main {
    width: 75%;
  }
}

.section-divider {
  padding-bottom: 20px;
}

.summary {
  width: 100%;
  text-align: center;
}
.summary h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  padding: 5px;
  color: rgb(253, 255, 252);
}
.summary p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  color: rgb(1, 22, 39);
  padding: 5px;
}
@media (min-width: 950px) {
  .summary {
    width: 45%;
  }
  .summary h3 {
    font-size: 20px;
  }
  .summary p {
    font-size: 15px;
    padding: 5px 20px;
  }
}
.summary img {
  width: 25%;
  margin-top: 5px;
}

.summary-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.summary-section {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 950px) {
  .summary-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.title-division {
  border-bottom: 1px solid rgb(1, 22, 39);
  background: rgb(1, 22, 39);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.todays-workout {
  width: 95%;
}
.todays-workout h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  padding: 5px;
  color: rgb(253, 255, 252);
}
.todays-workout p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  color: rgb(1, 22, 39);
  padding: 5px;
}
@media (min-width: 950px) {
  .todays-workout h3 {
    font-size: 30px;
  }
  .todays-workout p {
    font-size: 20px;
    padding: 5px 20px;
  }
}

#wod-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.wods {
  background: rgb(253, 255, 252);
  margin-top: 20px;
  border-radius: 2px;
  border: 1px solid rgb(1, 22, 39);
}
.wods img {
  width: 100%;
}

.no-link a {
  color: rgb(1, 22, 39);
  text-decoration: none;
  transition: 0.4s color;
}
.no-link a:hover {
  color: rgb(247, 23, 53);
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-content: center;
}
@media (min-width: 950px) {
  footer {
    flex-direction: row;
  }
}

.footer-ispage {
  background: #023259;
  border-radius: 2px;
}

#footer-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgb(1, 22, 39);
  color: rgb(253, 255, 252);
  align-items: center;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 950px) {
  #footer-links {
    width: 50%;
    font-size: 25px;
  }
}
#footer-links ul {
  list-style: none;
}
#footer-links ul a {
  text-decoration: none;
  color: rgb(253, 255, 252);
  padding: 5px;
}
#footer-links ul li {
  transition: 0.4s;
}
#footer-links ul li:hover {
  border-left: 3px solid rgb(247, 23, 53);
  border-right: 3px solid rgb(247, 23, 53);
}

#footer-social {
  width: 100%;
  background: rgb(253, 255, 252);
  color: rgb(1, 22, 39);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  border-top: 3px solid rgb(1, 22, 39);
}
#footer-social i {
  padding: 20px;
  color: rgb(1, 22, 39);
  transition: 0.4s;
}
#footer-social i:hover {
  color: rgb(247, 23, 53);
}
@media (min-width: 950px) {
  #footer-social {
    width: 50%;
  }
}

.comments {
  margin-top: 10px;
}

.all-comments {
  padding-left: 0;
}
.all-comments li {
  list-style: none;
  border-top: 1px solid rgb(1, 22, 39);
}
.all-comments .comment-meta {
  background: rgb(1, 22, 39);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all-comments .comment-meta a {
  padding: 10px;
  color: rgb(253, 255, 252);
}
.all-comments .vcard {
  color: rgb(253, 255, 252);
  padding: 10px;
  display: flex;
  align-items: center;
  margin-right: 8px;
  text-decoration: none;
}
.all-comments .photo {
  display: none;
}
.all-comments .says {
  display: none;
}
.all-comments .reply {
  font-weight: bold;
  margin-left: 10px;
  padding-bottom: 5px;
}
.all-comments .reply a {
  color: rgb(1, 22, 39);
  transition: 0.4s;
}
.all-comments .reply a:hover {
  color: rgb(247, 23, 53);
}
.all-comments .children {
  margin-top: 16px;
}
.all-comments .children li {
  border-left: 1px solid rgb(1, 22, 39);
}

.comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgb(1, 22, 39);
}
.comment-form textarea {
  width: 95%;
}
@media (min-width: 950px) {
  .comment-form textarea {
    width: 80%;
  }
}
.comment-form textarea, .comment-form input {
  font-family: "Roboto Condesed", sans-serif;
  font-size: 20px;
}
.comment-form input label p {
  font-size: 15px;
}

.comment-login {
  width: 90%;
  margin-top: 10px;
}
@media (min-width: 950px) {
  .comment-login {
    width: 60%;
  }
}

.form-submit {
  display: flex;
  width: 100%;
  justify-content: center;
}

#submit {
  width: 50%;
  background: rgb(52, 81, 163);
  color: rgb(253, 255, 252);
  padding: 5px;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgb(1, 22, 39);
  border: none;
  transition: 0.4s;
}
@media (min-width: 950px) {
  #submit {
    width: 25%;
  }
}
@media (min-width: 950px) {
  #submit:hover {
    width: 30%;
  }
}

.article-div {
  background: rgb(253, 255, 252);
  width: 95%;
  border-radius: 2px;
  padding: 20px 10px;
  margin: 10px 15px;
  color: rgb(1, 22, 39);
  line-height: 1.5em;
  box-shadow: -5px 5px 5px #e6e6e6;
}
.article-div p {
  font-family: "Roboto Condensed", sans-serif;
}
.article-div h2, .article-div h1, .article-div h3 {
  font-family: "Roboto", sans-serif;
}

#error-404 {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(253, 255, 252);
  color: rgb(1, 22, 39);
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 30px;
}

.search-display {
  width: 95%;
  background: rgb(253, 255, 252);
  border-radius: 3px;
  box-shadow: 4px 4px 2px #e6e6e6;
  margin-bottom: 20px;
}
@media (min-width: 950px) {
  .search-display {
    width: 80%;
  }
}
.search-display h3 {
  font-family: "Roboto", sans-serif;
  color: rgb(1, 22, 39);
}
.search-display a:first-child, .search-display a:last-child {
  text-decoration: none;
}

.search-result {
  margin: 10px 20px 30px 20px;
  border-bottom: 1px solid rgb(1, 22, 39);
  padding-bottom: 10px;
}

#contact-text {
  padding: 5px;
  border-bottom: 1px solid rgb(247, 23, 53);
}
@media (min-width: 950px) {
  #contact-text {
    width: 50%;
    border-right: 1px solid rgb(247, 23, 53);
    border-bottom: none;
  }
}
#contact-text :first-child {
  text-align: center;
}
#contact-text :last-child {
  text-align: center;
}

#contact-submit {
  display: flex;
  justify-content: center;
}
#contact-submit button {
  background: rgb(52, 81, 163);
  width: 30%;
  height: 25px;
  color: rgb(253, 255, 252);
  border-radius: 5px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  transition: 0.6s;
  cursor: pointer;
  box-shadow: 2px 2px 4px #333333;
}
#contact-submit button:hover {
  width: 40%;
}

#contact-body {
  background: rgb(253, 255, 252);
}

#full-form {
  width: 95%;
  background: rgb(253, 255, 252);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
}
@media (min-width: 950px) {
  #full-form {
    flex-direction: row;
    width: 80%;
  }
}
#full-form form {
  margin-top: 20px;
  width: 100%;
}
#full-form form input, #full-form form textarea {
  font-family: "Roboto Condensed", sans-serif;
  width: 90%;
  margin: 3px 5%;
  background: linear-gradient(to right, #e6e6e6 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 3px;
  transition: 0.4s;
}
#full-form form input:hover, #full-form form textarea:hover {
  background: linear-gradient(to right, #ffe0b5 0%, rgba(255, 255, 255, 0) 100%);
}
@media (min-width: 950px) {
  #full-form form {
    width: 50%;
    margin-top: 0;
  }
}

.custom-banner {
  width: 100%;
}
.custom-banner img {
  width: 100%;
}
@media (min-width: 950px) {
  .custom-banner img {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */