/* Coolors Exported Palette - coolors.co/011627-f71735-41ead4-fdfffc-ff9f1c */

/* HSL */
$color1: hsla(207%, 95%, 8%, 1);
$color2: hsla(352%, 93%, 53%, 1);
$color3: hsla(172%, 80%, 59%, 1);
$color4: hsla(100%, 100%, 99%, 1);
$color5: hsla(35%, 100%, 55%, 1);

/* RGB */
$color1: rgba(1, 22, 39, 1);
$color2: rgba(247, 23, 53, 1);
$color3: rgba(65, 234, 212, 1);
$color4: rgba(253, 255, 252, 1);
$color5: rgba(255, 159, 28, 1);